@(hostname: String)

<!DOCTYPE html>

<html>
    <head>
        <title>FeedMe Player</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    </head>
    <body>
        <p>The audio player</p>
        <p><a href="/player/1frPoTq">Try it here</a></p>
        <p>
<iframe scrolling="no" frameborder="0" style="width:422px;height:114px;border:0;overflow:hidden;" width="422" height="114" src="/player/1frPoTq"></iframe>
        </p>
        <p>
            <pre>
&lt;iframe scrolling=&quot;no&quot; frameborder=&quot;0&quot; style=&quot;width:422px;height:114px;border:0;overflow:hidden;&quot; width=&quot;422&quot; height=&quot;114&quot; src=&quot;/player/1frPoTq&quot;&gt;&lt;/iframe&gt;
            </pre>
        </p>
    </body>
</html>
